snippet bashhead "Francois's bash file header"
# ${1:`!p snip.rv = snip.basename`}$0.sh
# Author: Francois Charih <francoischarih@sce.carleton.ca>
# Date created: `date +%d/%m/%y`
#
# Description: $2
endsnippet

